@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  list-style: none;
  text-decoration: none;
  line-height: 1.5rem; 
  margin: 0; 
}

body {
  width: 90%;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}


.vicking{
  width: 28rem;
  max-width: 100%;
  box-sizing: border-box;
  float: right;
  margin-left: 3rem;
  margin-right: 2rem;
  margin-top: 4rem;
  padding: 1rem 1rem 1.5rem 1rem;
  text-align: center;
  color:#3d3d3d;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.all{
  width: 100%;
  height: 100%;
  float: right;
  margin-bottom: 0rem;
  margin-right: 0;
 
}
/***********************************************************************/


/***************************paragraph***********************************/
.text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  color:#3d5043 ;
  width: 52rem;
  margin-top: 5rem;
  margin-left: 3rem;
  border-bottom: 3px solid #3d5043;
}
.par1{

  text-align: justify ;
  text-indent: 1.5rem;
  margin-bottom: 0.7rem;
  margin-left: 3rem;
  margin-top: 5rem;
}
.par2{
  text-align: justify;
  text-indent: 1.5rem;
  margin-bottom: 0.7rem;
  margin-left: 3rem;
}
.par3{
  text-align: justify;
  text-indent: 1.5rem;
  margin-bottom: 4em;
  margin-left: 3rem;
}
.par4 {
  margin-bottom: 1rem;
  margin-left: 5rem;
  }

.subtitulo-1{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  color:#3d5043 ;
  width: 52rem;
  margin-top: 7.5rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  border-bottom: 3px solid #3d5043;

}
.subtitulo-2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  color:#3d5043 ;
  width: 52rem;
  margin-top: 0;
  margin-left: 3rem;
  margin-bottom: 3.5rem;
  border-bottom: 3px solid #3d5043;
}
.subtitulo-3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  color:#3d5043 ;
  width: 52rem;
  margin-top:4rem;
  margin-left: 3rem;
  margin-bottom: 0;
  border-bottom: 3px solid #3d5043;
}

/********************************Bottom*************************************/
.about_content {

  background: #5A3F37;
  background: -webkit-linear-gradient(to right, #2C7744, #5A3F37); 
  background: linear-gradient(to right, #2C7744, #5A3F37);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top:0;
  border-radius: 6px;
  border: 2px solid #5A3F37;
  transition: all 0.3s ease;
}

.about_content:hover{
  color:#2C7744;
  background: none;
}

/*********************************************************************/

.diferenciais li {
  margin-top:0.8rem ;
  list-style-type:none;
  margin-left: 3rem;
}

.cursos-li {
 text-align: justify;
  margin-bottom:0;
  margin-left: 3rem;
  margin-right: 3rem;

}
/***********************************************************************/

.rodape-about{
  width: 100%;
  height: 8rem;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  font-family: var(--font-secundary);
  font-size: 1.2rem;
  background-color:white;
  opacity: 3rem;
}
.rodape-logo {
width: 6em;
}
.rodape-cop{
text-align: left;
display: block;
margin-left:2rem;
}
.social-list a{
  margin: 0.2rem;
  color: #1a4226;
  font-size: 1.3rem;
}
.social-list ul {
  display: flex;
  margin-left: 15rem;
}

.footer-content{
  margin-top: 0.5rem;
  width: 65%;
  display: flex;
  justify-content: space-between;
}

#link-topo{
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  background: #5A3F37;
  background: -webkit-linear-gradient(to right, #2C7744, #5A3F37); 
  background: linear-gradient(to right, #2C7744, #5A3F37);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: .3rem;
  box-shadow:  0 0.1rem 0.6rem #16161609;
}

/*------------------------------------------------------------------------*/
@media all and (min-width:1000px){
  body{
      width: 1000px;
      margin:auto;
  }
}
@media all and (max-width:600px){

    
.text {
  
    color:#3d5043;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 1rem 26rem 3.5rem 1rem;
    width: 0;
    height: 0;
    border-bottom: 3px solid #3d5043;
    }
.vicking{
display: inline;
margin-top: 7rem;
margin-left:5rem;
margin-right: 0rem;
margin-bottom: 2rem;
padding: 1.5rem 1.5rem 1rem 1rem;
width: 23rem;
}
.par1{
  display: inline;
  margin-right: 0rem;
  margin-left: 1rem;
  width: 20rem;
  margin-bottom: 20rem;
}
.par2{
  display: inline;
  margin-right: 0rem;
  margin-left: 2rem;
}
.par3{
  margin-right: 0.5rem;
  margin-left: 2rem;
}
.par4 {
  margin-right: 1.5rem;
  margin-left: 6rem;
  margin-bottom: 5rem;
  font-size: 1rem;
  }
  .subtitulo-1{
  font-size: 1.5rem;
  width: 27rem;
  margin-left: 0;
  margin-top:8rem;
  margin-bottom: 1rem;
  }
  .subtitulo-2 {
    margin-top: 2rem;
    margin-left: 0;
    width: 27rem;
  }
  .subtitulo-3 {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    margin-left: 0;
    width: 27rem;
  }
  .diferenciais li {
    margin-top:0.8rem ;
    list-style-type:none;
    margin-left: 3rem;
    margin-right: 0;
  }
  
  .cursos-li {
   text-align: justify;
    margin-bottom:0;
    margin-left:2rem;
    margin-right: 0;
  
  }


.rodape-about{
  margin-top: 0;
  height: 8rem; 
}
.rodape-logo {
width: 3em;
}
.rodape-cop{
text-align: left;
font-size: 0.9rem;

}
.social-list a{
  margin:0.2rem;
  color: #1a4226;
  font-size: 1.3rem;
}
.social-list ul {
  display: flex;
  margin-left: 0.8rem;
}

.footer-content{
  margin-top: 0rem;
  width: 65%;
  display: flex;
  justify-content: space-between;
}

#link-topo{
  width: 2rem;
  height: 2rem;
  }
}